$odie-pallet: (
  color1: #58652a,
  color2: #9cc5a1,
  color3: #dce1de,
  color4: #133c55,
  color5: #386fa4
);

$white-hover: #cfcfcf;
$smoke: #f5f5f5;
$white: #eee;
$alt-white: #fefefe;
$text: #333;
