
@font-face {
  font-family: "Montserrat ExtraLight";
  src: url("./Montserrat/Montserrat-ExtraLight.ttf") format("truetype"),
    url("./Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("./Montserrat/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("./Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("./Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url("./Montserrat/Montserrat-SemiBold.ttf") format("truetype"),
    url("./Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("./Montserrat/Montserrat-Bold.ttf") format("truetype"),
    url("./Montserrat/Montserrat-ExtraBold.ttf") format("truetype"),
    url("./Montserrat/Montserrat-Medium.ttf") format("truetype"),
    url("./Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Black";
  src: url("./Montserrat/Montserrat-Black.ttf") format("truetype");
}
