@use "../mixins/breakpoints.scss" as *;
@use "../misc/colors.scss" as *;

%h1 {
  font-size: 2.25rem;
  font-family: "Montserrat Bold", Georgia;
  text-transform: capitalize;
}

%h2 {
  font-size: 1.62671rem;
  font-family: "Montserrat Bold", Georgia;
  text-transform: capitalize;
}

%h3 {
  font-size: 1.38316rem;
  font-family: "Montserrat SemiBold", Georgia;
}
%h4 {
  font-size: 1rem;
  font-family: "Montserrat SemiBold", Georgia;
}
%h5 {
  font-size: 0.85028rem;
  font-family: "Montserrat SemiBold", Georgia;
}
%h6 {
  font-size: 0.78405rem;
  font-family: "Montserrat Regular", Georgia;
}
%p {
  font: 112.5%/1.45em "Montserrat Regular", Georgia;
}

.h1,
h1 {
  @extend %h1;
}
.h2,
h2 {
  @extend %h2;
}
.h3,
h3 {
  @extend %h3;
}
.h4,
h4 {
  @extend %h4;
}
.h5,
h5 {
  @extend %h5;
}
.h6,
h6 {
  @extend %h6;
}

a {
  color: $text;
}

.p,
p,
li,
a,
label,
blockquote,
figure,
figcaption {
  @extend %p;
}

.col > h1:first-child,
.col > h2:first-child,
.col > h3:first-child,
.col > h4:first-child,
.col > h5:first-child,
.col > h6:first-child {
  margin-top: 0;
}

.text-white {
  color: $white;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: capitalize;
}

.text-shadow-dark {
  text-shadow: 2px 2px 2px $text;
}

.text-underline {
  text-decoration: underline;
}

.text-no-underline {
  text-decoration: none;
}

.link {
  text-decoration: none;

  &:hover, &:active, &:focus {
    cursor: pointer;
    color: darken($white, 10%)
  }
}

main {
  .list {
    li:not(:last-child) {
      margin-bottom: 1rem;
    }

    &.double {
      @include breakpoints(really_big large desktop sm_desktop lg_tablet) {
        column-count: 2;
        column-gap: 2rem;
      }
    }
  }
}

.bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: capitalize;
}

.hidden {
  display: none;
}

.link {
  text-decoration: none;
  color: map-get($odiePallet, "color5");

  &:hover,
  &:focus,
  &:active {
    color: lighten(map-get($odiePallet, "color5"), 15%);
  }
}
.phoneLink {
  text-decoration: none;
  color: map-get($odiePallet, "color5");

  &:hover,
  &:focus,
  &:active {
    color: lighten(map-get($odiePallet, "color5"), 15%);
  }
}