@use "../misc/colors.scss" as *;

.accordion {
	background-color: map-get($odiePallet, color3);
	color: $white;
	font-weight: 700;
	cursor: pointer;
	padding: 1.5rem;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1.2rem;
	transition: 0.4s;
}

.accordion__active,
.accordion:hover,
.accordion:focus,
.accordion:active {
	background-color: map-get($odiePallet, color1);
}
.panel {
	padding: 0 1.5rem;
	background-color: $alt-white;
	border-left: 2px solid map-get($odiePallet, color1);
	border-right: 2px solid map-get($odiePallet, color1);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion {
	&.accordion__active {
		.accordion__plus {
			animation: twist 0.3s forwards;
			transform-origin: center center;
		}
	}
}
.accordion__plus {
	float: right;
	animation: revert_twist 0.3s forwards;
	transform-origin: center center;
}

@keyframes revert_twist {
  0% {
    transform: rotate(47deg);
  }
  50% {
    transform: rotate(23.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes twist {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(23.5deg);
  }
  100% {
    transform: rotate(47deg);
  }
}