@use "../mixins/breakpoints.scss" as *;
@use "../misc/colors.scss" as *;

.BlockquoteContainer {
  @include breakpoints(really_big large sm_desktop desktop) {
    padding: 3rem;
  }
  @include breakpoints(lg_tablet tablet nav mobile) {
    padding: 3rem 0;
  }

  .Blockquote {
    background: #f9f9f9;
    border-left: 10px solid map-get($odiePallet, color1);
    margin: 0;
    padding: 0.5rem 1rem;
    quotes: "\201C""\201D""\2018""\2019";
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0, .65);
  }
  .Blockquote:before {
    color: map-get($odiePallet, color1);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  .Blockquote:after {
    visibility: hidden;
    content: close-quote;
    position: absolute;
  }

  .Blockquote p:first-of-type {
    display: inline;
  }

  .Caption {
    margin-top: 0;
    font-size: 90%;
    text-align: right;
    display: block;
  }
}
