@import "../misc/misc.scss";
@import "../mixins/mixins.scss";

.contact__col {
  display: grid;
  justify-items: center;
  margin-top: 3rem;

  .contact__form {
    h3 {
      margin-top: 0;
    }
    background-color: map-get($odiePallet, color3);
    border: 1px solid $text;
    margin-bottom: 0.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    @include breakpoints(really_big large desktop sm_desktop tablet lg_tablet) {
      width: 400px;
    }
    @include breakpoints(nav mobile) {
      width: 80vw;
    }

    > h3 {
      margin-top: 0;
      color: $white;
    }
    .form {
      width: 100%;
      margin: 0 auto;

      .fields {
        width: inherit;
        .field {
          width: inherit;
          .input,
          .message {
            width: inherit;
            border: 1px solid $text;
            border-radius: 5px;
            margin-bottom: 0.5rem;
            font-family: "Montserrat Regular", Georgia;
            font-size: 1rem;
            background-color: rgba(255, 255, 255, 0.75);
            font-weight: 700;
            color: $text;
          }

          .input {
            padding-left: 0.5rem;
            line-height: 2.5;
          }

          .message {
            padding: 0.5rem;
            resize: none;
          }
        }

        .submit {
          width: inherit;
          background-color: map-get($odiePallet, color3);
          border: 1px solid map-get($odiePallet, color4);
          border-radius: 5px;
          padding: 1rem 0.5rem;
          color: $white;
          font-size: 1.5rem;
          font-family: "Montserrat SemiBold", Georgia;
          cursor: pointer;
          transition: all .3s ease-in-out;

          &:hover,
          &:active,
          &:focus {
            background-color: map-get($odiePallet, color5);
            border: 1px solid map-get($odiePallet, color5);
          }
        }
      }
    }
  }
}

.contactBox {
  background-color: $white;
  padding: 1.5rem;
  border-radius: 5px;
}