@use "../mixins/breakpoints.scss" as *;
@use "../misc/colors.scss" as *;

.footer {
  background-color: map-get($odiePallet, color1);
  color: $white;
  .header {
    text-align: center;

    h6,
    p {
      margin: 0;
    }
  }
  .navigation {
    .navList {
      display: flex;
      flex-flow: row wrap;
      padding-left: 0;
      justify-content: space-around;
      margin: 2rem 0;

      li {
        list-style-type: none;
        margin-bottom: 0.25rem;
        li:not(first-of-type) {
          padding-left: 2.25rem;
        }

        a {
          text-decoration: none;
          color: $white;
        }

        @include breakpoints(lg_tablet tablet nav mobile) {
          padding: 0 .5rem;
        }
      }
    }
  }

  .odieBlurb {
    text-align: center;

    p {
      a {
        text-decoration: none;
        color: $white;
      }
    }
  }
}
