@use "../mixins/breakpoints.scss" as *;
@use "../misc/colors.scss" as *;

.homeIntro {
    grid-column: 2;
}
.homeLeft {
    color: $white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    grid-column: 2;

    @include breakpoints(lg_tablet tablet nav mobile) {
        grid-row: 2;
    }
}

.aboutLeft {
  flex-flow: column;
  align-items: center;
  grid-column: 2;
  display: flex;
  position: relative;

  @include breakpoints(lg_tablet tablet nav mobile) {
      grid-row: 2;
  }
}

.contactLeft {
    flex-flow: column nowrap;
    grid-column: 2;
    display: flex;
}

.aboutIntroLeft,
.leftCostSection {
    @include breakpoints(really_big large desktop sm_desktop) {
        grid-column: 1;
    }
    @include breakpoints(lg_tablet tablet nav mobile) {
        grid-column: 1;
    }
}